{% load static forum_extras i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} {{ forum_settings.FORUM_BASE_TITLE }}</title>
  <meta name="description" content="{{ forum_settings.FORUM_META_DESCRIPTION }} "/>
  <meta name="keywords" content="{{ forum_settings.FORUM_META_KEYWORDS }}"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  {% set_theme_style user %}

  <link rel="alternate" type="application/atom+xml" href="{% url 'forum:forum_posts_feed' %}"
        title="{% trans "Latest posts on forum" %}"/>
  <link rel="alternate" type="application/atom+xml" href="{% url 'forum:forum_topics_feed' %}"
        title="{% trans "Latest topics on forum" %}"/>

  <link rel="shortcut icon" href="{% static 'forum/favicon.png' %}" type="image/png"/>

  <script>
    var STATIC_URL = "{{ STATIC_URL }}";
    var POST_PREVIEW_URL = "{% url 'forum:post_preview' %}";
  </script>

  <script src="{{ forum_settings.JQUERY_URL }}"></script>

  {% if user.is_authenticated %}
    {% if post %}
      {% with markup=post.markup %}
        {% include "forum/includes/markup_editor.html" %}
      {% endwith %}
    {% else %}
      {% with markup=user.forum_profile.markup %}
        {% include "forum/includes/markup_editor.html" %}
      {% endwith %}
    {% endif %}

    <script>
      $(document).ready(function () {
        $(".markup").markItUp(mySettings);
      });
    </script>

  {% endif %}

  <!-- Highlightjs goodies -->
  <link rel="stylesheet" href="{% static 'forum/css/pygments.css' %}"/>
  {% if highlight_word %}

    <script src="{% static 'forum/js/jquery.highlight-3.pack.js' %}"></script>

    <script>
      $(document).ready(function () {
        $("div.postmsg").highlight("{{ highlight_word }}");
      });
    </script>

  {% endif %}
  {% block extra_meta %}{% endblock %}
</head>
<body>
{% include 'forum/header.html' %}

{% block messages %}
  {% if messages %}
    <div id="messages" class="block">
      <h2><span>{% trans "Notice" %}</span></h2>
      <div class="box">
        <div class="inbox">
          <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock messages %}

{% block pre_content %}{% endblock %}
{% block content %}{% endblock %}
{% block post_content %}{% endblock %}
<div id="brdfooter" class="block">
  <h2><span>{% trans "Board footer" %}</span></h2>
  <div class="box">
    <div class="inbox">
      {% block controls %}
        <dl id="searchlinks" class="conl">
          <dt><strong>{% trans "Search links" %}</strong></dt>
          <dd><a href="">{% trans "Show recent posts" %}</a></dd>
          <dd>
            <a href="">{% trans "Show unanswered posts" %}</a>
          </dd>
          {% if user.is_authenticated %}
            <dd>
              <a href="">{% trans "Show your subscribed topics" %}</a>
            </dd>
            <dd>{% trans "Show your" %} <a
              href="{% url 'djangobb:search' %}?action=show_user&show_as=topics">{% trans "topics" %}</a>/<a
              href="{% url 'djangobb:search' %}?action=show_user&show_as=posts">{% trans "posts" %}</a>
            </dd>
          {% endif %}
        </dl>
      {% endblock controls %}
      <p class="conr">Powered by <a href="http://djangobb.org/">DjangoBB</a></p>
      <div class="clearer"></div>
    </div>
  </div>
</div>
</body>
</html>
